
<div id="page-wrapper">
	<div class="s2-example col-md-10" >
        <select class="js-example-templating js-states form-control" id="Book_Title">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            
        </select>
    </div>

	<h1 id="number" style="color:wheat"></h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
	


	$(document).ready(function() {
		$("#Book_Title").select2({
			placeholder: "Select a state",
			allowClear: true
		});
		// Thêm các tùy chọn của bạn vào đây.
	});
	
	$('#Book_Title').on('change', function() {
		alert(this.value);
	})
	
</script>